@font-face {
    font-family: 'Barista';
    src: url('../../fonts/Barista-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Barista';
    src: url('../../fonts/Barista-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Barista';
    src: url('../../fonts/Barista-SemiBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Barista';
    src: url('../../fonts/Barista-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}