#contact {
    .banner {
        height: 550px;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-content {
            position: absolute;
            top: 90px;
            left: 0;
            right: 0;
            color: $white;
            z-index: 1;
            h1 {
                font-size: 64px;
                font-weight: 700;
                margin-bottom: 30px;
                text-transform: uppercase;
                span {
                    color: $red;
                    display: block;
                    margin-top: 10px;
                }
                .line {
                    display: inline-block;
                    width: 200px;
                    height: 10px;
                    background-color: $white;
                    position: relative;
                    top: -17px;
                    margin-left: 20px;
                }
            }
            p {
                line-height: 1.3;
            }
        }
    }

    .form {
        margin-top: -200px;
        box-shadow: 0px 5px 10px rgba($black, 0.25);
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        height: 660px;
        padding: 0;
        
        &-left {
            width: 450px;
            background-color: $red;
            height: 100%;
            padding: 40px 40px 0 30px;
            h2 {
                font-size: 48px;
                line-height: 58px;
                color: $white;
                margin-bottom: 30px;
            }
            h3 {
                font-size: 18px;
                line-height: 22px;
                font-weight: 700;
                margin-top: 30px;
                margin-bottom: 5px;
            }
            p {
                font-size: 14px;
                line-height: 17px;
            }
            .social {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 100px;
                font-size: 22px;
                li {
                    margin: 0 15px;
                }
                a {
                    color: $black;
                }
            }
        }
        &-right {
            flex: 1;
            background-color: $white;
            height: 100%;
            padding: 40px 90px 0 60px;
            h2 {
                font-size: 36px;
                line-height: 44px;
                padding-bottom: 30px;
                border-bottom: solid 1px #b8b8b8;
                margin-bottom: 30px;
            }

            .form-group {
                font-size: 14px;
                margin-bottom: 20px;
                &.flex {
                    display: flex;
                    justify-content: space-between;
                    .form-column {
                        width: calc(50% - 10px);
                    }
                }
                label {
                    display: block;
                    margin-bottom: 5px;
                    .required {
                        color: $red;
                    }
                }
                input {
                    height: 36px;
                    border: solid 1px #757575;
                    border-radius: 3px;
                    width: 100%;
                    padding: 0 15px;
                }
                textarea {
                    border: solid 1px #757575;
                    border-radius: 3px;
                    resize: none;
                    width: 100%;
                    padding: 10px 15px;
                    height: 125px;
                }
            }

            .form-submit {
                display: block;
                width: 190px;
                height: 36px;
                line-height: 36px;
                border-radius: 3px;
                background-color: $red;
                margin: 30px auto 0;
                color: $white;
                text-align: center;
            }
        }
    }

    .map {
        width: 100%;
        margin-top: 100px;
        iframe {
            width: 100%;
        }
    }
}